body {
  background-color: #a4e213e8; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: 20px;
}
/*.pizzas {
    display: flex;
}*/

.Header {
    z-index: 50;
   /* position: fixed;*/
    top: 0;
    left: 100;
    width: 50%;
    background-color: #f5e12f;
    height: 50px;
}
.Cart-box {
    width: 400px;
    background-color: rgb(255, 229, 79);
    right:
}
  
table {
    border-collapse: collapse;
    width: 200px;
}
table, th, td {
    border: 1 px solid #000;
    
}
th, td {
    padding: 10px;
}

button {
    background-color: rgb(247, 215, 39);
    border-radius: 3px;
    border:0;
}


.pizza {
    border: 0.5px solid;
     margin: 6px;
     padding: 2em;
     margin-bottom: 0.5em;
     border-radius:0.4em;
     width: 10m;
     /*display: inline-block;
     min-height: 30cm;*/
}
.Small_pizza { 
     background-color: #ffffff;
     flex: 2;
}

.Medium_pizza { 
    background-color: #ffffff;
   flex:2;
}
.Large_pizza {
     background-color: #ffffff;
     flex:2;

}
.Contact_us {

    background-color: #f3d946;
 
}  



 @media (min-width: 960px) {
    /* background-color: rgb(9, 148, 33);  */
    /* } */
    
    .pizzas {
        display:flex; 
    }
 }
    



